bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.idea/.idea.Oblivion/.idea/.gitignore
/.idea/.idea.Oblivion/.idea/indexLayout.xml
/.idea/.idea.Oblivion/.idea/MarsCodeWorkspaceAppSettings.xml
/.idea/.idea.Oblivion/.idea/misc.xml
/.idea/.idea.Oblivion/.idea/vcs.xml
